{
  "root": true,
  "extends": ["plugin:prettier/recommended"],
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersiont": 6,
    "sourceType": "module"
  },
  "overrides": [
    {
      "files": ["tests/**/*.js"],
      "env": {
        "jest": true
      }
    }
  ]
}
