@import './variables';

.colophon {
    line-height: (31px / 16px);

    > a,
    > ul > li,
    > span {
        display: inline-block;
        line-height: inherit;
    }
}

.humans { line-height: 0; }

.contributors {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
