$scale: 2;

$color-white: #fff;
$color-black: #000;

$background-color: $color-white;
$font-size-h1: 32px * $scale;
$font-size-h2: 24px * $scale;
$line-height-h: 1.1;

html,
body,
main {
  height: 100%;
  width: 100%;
}

body {
  background-color: $background-color;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  margin: 0;
}

main {
  align-items: center;
  display: flex;
}

/*
header {
    margin: 0 auto;
    text-align: center;
}
*/

header {
  background-image: url('./assets/header_bacground.png');
  height: auto;
  overflow: hidden;
}

nav > ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

a {
  color: $color-black;
  display: block;
  text-decoration: none;
}

li > a {
  color: #fff;
  text-decoration: none;
}

li > a:hover {
  color: #e70a0a;
  text-decoration: underline;
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-size: $font-size-h1;
  line-height: $line-height-h;

  > b,
  > i {
    display: inline-block;

    &:hover {
      transform: scale(1.35);
      z-index: 1;
    }
  }
}

%underline {
  position: relative;
  text-shadow: 0.05em 0 0 $background-color, -0.05em 0 0 $background-color;

  &:hover::before {
    border-bottom: 2px solid $color-black;
    content: '';

    position: absolute;
    bottom: 3%;
    left: 0.05em;
    right: 0.05em;

    z-index: -1;
  }
}

h2 {
  font-size: $font-size-h2;
  line-height: $line-height-h;

  @extend %underline;
}
