@import './styles/variables';

html,
body,
.main {
    height: 100%;
    width: 100%;
}

body {
    background-color: $background-color;
    font-family:
       'HelveticaNeue-Light',
       'Helvetica Neue Light',
       'Helvetica Neue',
        Helvetica,
        Arial,
       'Lucida Grande',
        sans-serif;
    margin: 0;
}

.main {
    align-items: center;
    display: flex;
}

a {
    color: $color;
    display: block;
    text-decoration: none;
}

@import './styles/header';
@import './styles/footer';
