html,
body,
main {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Alegreya', serif;
}

p,
a,
li,
address {
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  font-size: 1.15em;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
  margin: 0;
}

header {
  background-image: url('./assets/header_bacground.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

header > h1,
.slogan {
  color: #ffffff;
  text-transform: uppercase;
}

header > h1 {
  margin: 5vw auto 0;
  font-size: 9vw;
}

header > h2 {
  font-size: 5.5vw;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: -2%;
}

header > a {
  text-transform: uppercase;
}

nav {
  width: 80%;
  margin: 2% auto 0;
}

nav > ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

li > a {
  color: #ffffff;
  text-decoration: none;
  font-size: 2em;
}

li > a > img {
  width: 50%;
  height: auto;
}

li > a:hover {
  text-decoration: underline #e70a0a;
}

.call-to-action {
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin: 3vw auto;
}

.call-to-action > a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5em;
  border: 1px solid #ffffff;
  padding: 0.5vw;
}

.call-to-action > a:hover {
  background-color: #e70a0a;
  border-color: #e70a0a;
}

section {
  width: 80%;
  margin: 0 auto;
}
.about-me {
  width: 60%;
  margin: 0 auto;
}

.family-man > p {
  margin-top: 0;
}

.line-break {
  display: flex;
  align-items: center;
  margin: 5% auto;
}

hr {
  flex: 0 0 100%;
}

.big-line,
.small-line {
  height: 10px;
  background-color: #e70a0a;
  border: 0 none;
}

.big-line {
  flex: 1 1 55%;
}

.small-line {
  flex: 1 1 10%;
}

.title {
  flex: 1 1 20%;
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  margin: 0;
}

.my-info {
  display: flex;
  justify-content: space-between;
}

.my-info > img {
  width: 25vw;
  height: 25vw;
  max-width: 100%;
  margin-right: 5%;
  box-shadow: 1px 2px 4px #000000;
}

.my-info > .display766 {
  display: none;
  width: 100%;
  height: 20vw;
  margin-bottom: 5%;
}

.my-info > p {
  flex-basis: 60%;
  margin: 0;
}

.why-ppd {
  width: 100%;
  background-color: #e8e8e8;
  margin: 5% 0;
  padding-bottom: 5%;
  overflow: hidden;
}

.why-ppd > div {
  width: 60%;
  margin: 5% 0 0 10%;
  float: left;
}

.why-ppd > div:nth-child(2) {
  width: 60%;
  margin: 5% 0 0 30%;
  float: left;
}

.projects,
.find-us {
  padding-bottom: 5%;
}

.clients {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.clients > div {
  flex: 0 0 44%;
  margin: 2% 5% 5% 1%;
}

.clients > div > img {
  box-shadow: 1px 2px 4px #000000;
  float: left;
  margin-right: 1em;
  max-width: 100%;
}
.clients > div > .display465 {
  display: none;
  box-shadow: none;
}

.clients > div > h5 {
  font-size: 1.15em;
  font-weight: bold;
  margin: 2% 0 0 0;
}
.clients > div > p {
  font-size: 0.9em;
  margin: 5% 0;
}

/*transition code */

/*.card {
    float: left;
    margin: 0 1em;
    transform: translate(-50%, -50%);
    width: 220px;
    height: 314px;
    background: #262626;
    overflow: hidden;
    box-shadow: 1px 2px 4px #000000;
}

.card > .img-bx,
.card > .details {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    transition: .5s;
}

.card > .img-bx {
    top: 0;
    left: 0;
}

.card:hover > .img-bx {
    top: 0;
    left: -100%;
}

.card > .img-bx > img {
    width: 100%;
}

.card > .details {
    background: #262626;
    top: 0;
    left: 100%;
    padding: 20px 10px;
}

.card:hover > .details {
    left: 0;
    padding: 1em;
}

.card > .details > h2 {
    color: #ffffff;
    font-size: 1em;
    text-align: center;
    margin: 0;
    padding: 0 0 10px;
    border-bottom: 2px solid #fff;
}

.card > .details > p {
    color: #ffffff;
    text-align: left;
    font-size: .9em;
    margin: 20px 0 20px 0;
}
.card > .details > a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
    text-align: center;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #fff;
}

.card > .details > a:hover {
    background-color: #E70A0A;
    border-color: #E70A0A;
}*/

/*end transition code*/

.email-me {
  width: 100%;
  background-color: #e8e8e8;
  margin: 5% 0;
  padding-bottom: 5%;
}

.email-me > div {
  width: 60%;
  margin: 0 auto;
  padding-top: 5%;
  text-align: center;
}

.black-button {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  border: 1px solid #000000;
  padding: 0.5vw;
}

.find-us-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.find-us-content > div {
  flex-basis: 20%;
}

.find-us-content > iframe {
  flex-basis: 60%;
}

.location > a {
  text-decoration: none;
  color: #000000;
}

footer {
  background-image: url('./assets/grey-yooper.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

footer > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  padding: 0;
}

footer > p {
  color: #ffffff;
}

footer > nav {
  margin-bottom: 5%;
}

/*  resume page  */

.basic-bio,
.tech,
.web-projects,
.hobbies {
  width: 80%;
  margin: 5% auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.basic-bio > div {
  padding: 0 0 0 10%;
}

.basic-bio > div > p {
  margin-top: 0;
}

.basic-bio img {
  width: 25%;
  height: auto;
}

.nerd-stuff {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 80%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul > h4 {
  font-size: 1.5vw;
  text-transform: uppercase;
  font-weight: bold;
  width: 25vw;
}

.tech h3,
.web-projects h3,
.hobbies h3 {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  flex: 1 0 30%;
}

.web-projects > div > p {
  margin-top: 0;
}

.web-projects > div {
  flex: 1 0 80%;
}

@media screen and (max-width: 1060px) {
  .big-line {
    flex: 1 1 55%;
  }

  .small-line {
    flex: 1 1 10%;
  }

  .title {
    flex: 1 1 25%;
    font-size: 1.5em;
  }
  .clients > div {
    display: block;
  }
  .clients > div > img {
    float: none;
  }
}

@media screen and (max-width: 776px) {
  li > a {
    font-size: 1em;
  }
  .call-to-action {
    justify-content: space-between;
    width: 40%;
  }
  .call-to-action > a {
    font-size: 1em;
  }
  .about-me {
    width: 90%;
  }

  .my-info {
    display: block;
  }

  .family-man > p {
    margin-top: 2%;
  }
  .why-ppd {
    display: block;
  }
  .why-ppd > div {
    margin: 3% auto 5%;
  }
  .why-ppd > div:nth-child(2) {
    margin: 3% auto 0;
  }
  .why-ppd > div,
  .why-ppd > div:nth-child(2),
  .email-me > div {
    float: none;
    width: 80%;
  }

  .why-ppd > div > h4,
  .email-me > div > h4 {
    font-size: 1.5em;
  }
  .find-us-content {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .find-us-content > div {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    align-items: flex-start;
    margin-bottom: 5%;
  }
  .find-us-content > div > p {
    flex: 0 0 50%;
    margin-top: 0;
  }

  .find-us-content > iframe {
    display: block;
    padding: 0 5%;
    width: 90%;
  }
  .title {
    flex: 1 1 30%;
  }
  .big-line {
    flex: 1 1 40%;
  }
  .my-info > img {
    display: none;
  }

  .my-info > .display766 {
    display: block;
  }
  .clients > div > p {
    display: none;
  }
  .clients > div > h5 {
    margin-bottom: 5%;
    font-size: 1.5em;
  }

  /*  resume page  */
  .basic-bio,
  .tech,
  .web-projects,
  .hobbies {
    width: 90%;
  }

  .tech,
  .hobbies,
  .web-projects {
    display: block;
  }
  .tech h3,
  .web-projects h3,
  .hobbies h3 {
    text-align: center;
    margin: 1% auto 4%;
  }
  ul > h4 {
    font-size: 2.25vw;
  }
  .hobbies > .nerd-stuff > ul {
    text-align: center;
  }
  .hobbies > .nerd-stuff > ul > h4 {
    display: none;
  }
  .hobbies > .nerd-stuff > ul > li {
    display: inline;
    margin: 1% 2%;
  }
  .basic-bio > div > p,
  .web-projects > div > p {
    font-size: 1.15em;
  }
  .basic-bio > div > p:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .big-line,
  .small-line {
    flex: 1 1 25%;
  }
  .title {
    flex: 1 1 40%;
  }
}

@media screen and (max-width: 465px) {
  .big-line,
  .small-line {
    flex: 1 1 15%;
  }
  .title {
    flex: 1 1 60%;
  }

  .clients > div {
    text-align: center;
    margin: 5% auto;
  }

  .clients > div > h5 {
    margin-bottom: 5%;
    font-size: 1em;
  }
  .clients > div > .display465 {
    display: block;
    text-align: center;
    margin: 2% auto;
  }
  .clients > div > img {
    display: none;
  }

  /*  resume page  */
  .basic-bio,
  .tech,
  .web-projects,
  .hobbies {
    width: 98%;
  }
  ul > h4 {
    font-size: 1em;
  }
  .basic-bio {
    display: block;
  }
  .basic-bio > img {
    margin-left: 10%;
  }

  .tech > .nerd-stuff {
    display: block;
  }

  .tech > .nerd-stuff > ul {
    margin: 5% auto;
  }

  .tech > .nerd-stuff > ul > li {
    display: inline-block;
  }
  .tech > .nerd-stuff > ul > h4 {
    display: block;
    margin: 1% auto;
    width: 100%;
  }
}
