html,
body,
main {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
}

header {
    background-image: url("./assets/header_bacground.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

header > h1, h2 {
    color: #ffffff;
    text-transform: uppercase;
}

header > h1 {
    margin: 5vw auto 0;
    font-size: 5vw;
}

header > h2 {
    font-size: 4vw;
    margin-top: 0;
}

header > a {
    text-transform: uppercase;
}

nav {
    width: 80%;
    margin: 0 auto;
}

nav > ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

li > a {
    color: #ffffff;
    text-decoration: none;
}

li > a:hover {
    color: #E70A0A;
    text-decoration: underline;
}

.call-to-action {
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: 3vw auto;
}

.call-to-action > a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5vw;
    border: 1px solid #ffffff;
    padding: .5vw;
}

.call-to-action > a:hover {
    background-color: #E70A0A;
    border-color: #E70A0A;
}

section {
    width: 80%;
    margin: 0 auto;
}
.about-me {
    width: 60%;
    margin: 0 auto;
}

.marky {
    display: flex;
    align-items: center;
}

hr {
    flex: 0 0 100%;
}

.big-line,
.small-line {
    height: 10px;
    background-color: #E70A0A;
    border: 0 none;
}

.big-line {
    flex-basis: 50%;
}

.small-line {
    flex-basis: 20%;
}

.title {
    flex-basis: 30%;
    text-align: center;
    font-size: 3vw;
    margin: 0;
}

.my-info {
    display: flex;
    justify-content: space-around;
}

.my-info > img {
    width: 25vw;
    height: 25vw;
    max-width: 100%;
    margin-right: 2vw;
    flex-basis: 20%;
}

.my-info > p {
    flex-basis: 60%
}
